/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js/pdf.js/web/out
/public/js/pdf.js/web/out-prod
/public/js/pdf.js/web/app.js
*.log
/out
/.repl
*.log
/.env
*~
\#*\#